*{
    margin:0;
    padding:0;
}

html {
    scroll-behavior: smooth;
  }
.logo{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar{
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center; 
    position:sticky;
    top:0;
    cursor:pointer;
    color:black;
 }
.navlist{
    display:flex;
    align-items: center;
    width:50%;
}
.navlist li{
    list-style:None;
    padding:26px 30px;
    margin-left: auto;
    margin-right: auto;
}
.navlist li a{
    text-decoration: none;
    color:white
}
.navlist li a:hover{
    text-decoration: none;
    color:grey;
}
.logo img{
    width:70%;
    border:3px solid white;
    border-radius:50px;
}
.background{
    background-color:black;
}
.rightNav{
    width:50%;
    color:White;
    text-align: center;
    padding-right: 0px;
}

.btnsign a{
    color: black;
    text-decoration: none;

}
.btn{
    margin-right:25px;
    font-size: 15px;
    border-radius: 30px;
    width: 90px;
    height: 30px;
    padding: 5px 10px 10px 10px;
    cursor: pointer;
}
.btn:hover{
    background-color: grey;
    color: whitesmoke;
}
#rightnav li{
    text-decoration: none;
}

.section1{
    display: flex;
    background:radial-gradient(circle,navy,black);
    color:white;
    text-align: center;
    align-items: center;
}
.Firsthalf{
    width: 40%;
    padding:20px;
}

.Firsthalf p{
  animation-name: example;
  animation-duration: 4s;
  animation-delay: 2s;
}

@keyframes example {
    0%{ left:0px; top:0px;}
    100%{ left:200px; top:0px;}
  }
.Secondhalf{
    justify-content: center;
    padding: 45px 100px 45px 45px;
    align-items:right;
    margin:auto
}

.Secondhalf img{
    height:200%;
    width:200%;
    border: 67px soild grey;
    filter:drop-shadow(10px 10px 14px grey);
    border-radius: 35px;
}

.bigtext{
    text-shadow: 10px 20px 7px rgb(128, 128, 128);
    font-size: xx-large;
    padding:45px 45px 45px 45px;
}

.section2{
    display:flex;
}
.img2 img{
    height: 400px;
    width:300px;
    border: 5px solid grey;
    border-radius: 180px;
    margin-left: 30px;
    margin-top: 30px;
    filter:drop-shadow(10px 10px 14px grey);
}
#para2{
    padding: 45px 45px 45px 45px;
    
}

.section3{
    display:flex;
}

#para3{
    padding: 45px 45px 45px 45px;
}

.img3 img{
    height: 200px;
    width:300px;
    border: 5px solid grey;
    border-radius: 180px;
    filter:drop-shadow(10px 10px 14px grey);
}

.section3 form{
    max-width:500px;
    justify-items: center;
    margin-left: 500px;
    text-align: center;
}

* {box-sizing: border-box}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  align-items: center;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  margin: auto;
  border-radius: 50px;
  margin-bottom: 10px;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;

}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


.registerbtn {
  background-color:black;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
  background-color: white;
  color:black;
}


a {
  color: dodgerblue;
}

.fullbackground{
    background: rgba(0, 0, 0, 0.7) url('img7.jpg');
    background-size: cover;
    background-blend-mode: darken;
    color: white;
}






